.git
.next
.pnpm-store
node_modules

coverage
dist
backups
.vercel
.cache
playwright-report
test-results
tests
scripts
*.cmd

docs
README.md
*.tsbuildinfo

.env
.env.local
.env.production
.env.*.local

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
